# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# JAMENDO API Integration
JAMENDO_CLIENT_ID=""
JAMENDO_CLIENT_SECRET=""

# Admin Gate Configuration
ADMIN_USERNAME="Mp3Kid"
ADMIN_PASSWORD=""

# Application Server Configuration
PORT=3000
NODE_ENV="development"
JWT_SECRET="mp3kid_eagle_icon_secure_token_key_2025"
